*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "thicccboi-regular";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  list-style: none;
}

@font-face {
  font-family: "thicccboi-regular";
  font-weight: 400, 500, 600, 800;
  src: url(../fonts/THICCCBOI-Regular.woff2);
}

:root {
  --main-color: #ff694b;
  --secondary-color: #757683;
  --white-color: #fff;
  --grey-color: #c8c8c8;
  --black-color: #000;
}

.container {
  padding: 0 15px;
  max-width: 1520px;
  margin: 0 auto;
}

.header__burger {
  display: none;
}

.logo-img {
  border: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.nav-menu {
  padding: 0 5px 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu li + li {
  margin-left: calc(15px + 39 * ((100vw - 800px) / (1920 - 800)));
}

.nav-menu a {
  font-size: 18px;
}

.nav-menu a:hover {
  color: var(--main-color);
  transition: all 0.25s;
}

.call {
  padding: 20px 35px 20px 35px;
  background-color: var(--main-color);
  border: none;
  font-size: 18px;
  box-shadow: 0px 12px 30px rgba(255, 105, 75, 0.35);
  color: var(--white-color);
}

.main-line {
  display: flex;
  align-items: center;
}

.main-line div {
  border: 1px solid var(--main-color);
  width: 50px;
}

.header-main__info {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-main {
  align-items: center;
  display: flex;
  width: 336px;
  color: var(--main-color);
  padding-left: 15px;
}

.header-main div {
  width: 50px;
  height: 1px;
  background: var(--main-color);
}

.header-main a {
  padding-left: 15px;
  color: var(--main-color);
  font-size: 18px;
}

.header-info h1 {
  padding: 15px 0 33px 0;
  width: 556px;
  font-size: 80px;
}

.horizontal-line {
  display: flex;
}

.header-paragraph {
  border-left: 1px solid var(--grey-color);
  padding-left: 15px;
  width: 340px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 30px;
}

.hire-me img {
  padding: 50px 0 50px 0;
}

.hire-me img:hover {
  opacity: 0.75;
  transition: all 0.25s;
}

.working {
  border-top: 1px solid var(--grey-color);
  width: 412px;
  padding-top: 20px;
  color: var(--secondary-color);
  font-size: 14px;
}

.background-img {
  background-size: cover;
}

.header__our-progects {
  align-self: center;
  width: 100%;
}

.our-progects {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.our {
  font-size: 16px;
  color: var(--secondary-color);
  padding-left: 8px;
}

.our-line {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.our-line div {
  border: 1px solid var(--secondary-color);
  width: 35px;
}

.portfolio-landing {
  font-size: 19px;
}

.microsoft {
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.explore {
  font-size: 18px;
  color: var(--main-color);
  text-decoration: underline;
}

.explore:hover {
  opacity: 0.75;
  transition: all 0.25s;
}

.main {
  padding-top: 220px;
}

.payment-site {
  display: flex;
  justify-content: space-between;
}

.block-first p {
  color: var(--secondary-color);
}

.block-first b {
  display: block;
  font-size: 28px;
  width: 237px;
  padding: 10px 0 66px 0;
}

.block-second p {
  color: var(--secondary-color);
}

.block-second b {
  display: block;
  font-size: 28px;
  width: 237px;
  padding: 10px 0 66px 0;
}

.advantages {
  padding-top: 160px;
  display: flex;
  justify-content: space-between;
}

.advantages img {
  display: block;
  width: 40%;
}

.advantages-info h1 {
  font-size: 40px;
  max-width: 540px;
}

.advantages-blocks {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.advantages-block {
  display: flex;
}

.advantages-block__second {
  display: flex;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--main-color);
  color: var(--white-color);
  font-size: 20px;
}

.advantages-block h3 {
  font-size: 24px;
  padding-left: 25px;
  max-width: 250px;
}

.advantages-block__second h3 {
  font-size: 24px;
  padding-left: 25px;
  max-width: 250px;
}

.advantages-block p {
  padding: 12px 0 0 25px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 270px;
}

.advantages-block__second p {
  padding: 12px 0 0 25px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 270px;
}

.advantages-years {
  display: flex;
  justify-content: space-around;
  padding-top: 64px;
}

.advantages-years__block {
  display: flex;
  align-items: center;
  max-width: 190px;
  width: 100%;
}

.advantages-years__number {
  font-weight: 700;
  font-size: 48px;
}

.advantages-years__text {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 90px;
  color: var(--secondary-color);
}

.our-services h1 {
  display: flex;
  justify-content: center;
  font-size: 48px;
  padding-top: 160px;
}

.first-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1235px;
  width: 100%;
  margin: 0 auto;
  padding-top: 110px;
}

.second-row {
  display: flex;
  justify-content: space-around;
  padding-top: 130px;
}

.row-block {
  padding: 40px 30px 0 30px;
}

.row-title {
  display: flex;
  align-items: center;
}

.row-title h3 {
  padding-left: 25px;
  width: 170px;
}

.row-block p {
  color: var(--secondary-color);
  width: 310px;
  padding-top: 23px;
}

.arrow {
  padding-top: 36px;
}

.button__explore-services {
  width: 100%;
  display: flex;
  justify-content: center;
}

.explore-services {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  padding: 20px 35px 20px 35px;
  margin: 100px 0 100px 0;
}

.explore-services a {
  color: var(--white-color);
}

.education-experience {
  display: flex;
  justify-content: space-between;
}

.education-img {
  padding-bottom: 40px;
}

.education {
  width: calc(50% - 50px);
}

.experience {
  width: calc(50% - 50px);
}

.experience-text {
  max-width: 1200px;
  width: 100%;
  padding-left: 24px;
}

.education-block {
  padding: 25px 0px 40px 0;
  border-bottom: 1px solid var(--grey-color);
}

.experience-block {
  display: flex;
  padding: 21px 0px 40px 0;
  border-bottom: 1px solid var(--grey-color);
}

.first-line {
  display: flex;
  justify-content: space-between;
}

.second-line {
  display: flex;
  justify-content: space-between;
}

.second-line:last-child {
  padding-top: 8px;
}

.second-line__text {
  color: var(--secondary-color);
}

.any-project {
  background-image: url(../images/progect-bg.png);
  display: flex;
  justify-content: space-around;
  margin-top: 160px;
}

.any-project__main {
  display: flex;
  align-items: center;
}

.any-project__main h1 {
  color: var(--white-color);
  font-size: 48px;
}

.any-project__main h2 {
  color: var(--white-color);
  font-size: 48px;
}

.any-project__main p {
  color: var(--secondary-color);
  font-size: 18px;
  padding: 25px 0 40px 0;
}

.any-project__main button {
  background-color: var(--main-color);
  padding: 20px 35px 20px 35px;
}

.any-project__main a {
  color: var(--white-color);
}

.slider {
  margin-top: 160px;
}

.header-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.union {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.header-slider__main h5 {
  font-size: 30px;
  padding: 40px 0 10px 0;
}

.slider p {
  color: var(--main-color);
  text-align: center;
}

.slider-main {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 50px 0;
}

.slider-main p {
  font-size: 30px;
  color: var(--secondary-color);
  max-width: 745px;
  width: 100%;
}

.swiper-button-prev {
  display: flex;
  align-items: center;
}

.swiper-button-next {
  display: flex;
  align-items: center;
}

.slider-img {
  display: flex;
  justify-content: center;
}

.slider-img img {
  display: flex;
  align-self: center;
  height: 100%;
}

.button-next {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  z-index: 2;
}

.button-prev {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  z-index: 2;
}

.news {
  margin-top: 160px;
}

.news-main {
  display: flex;
  justify-content: space-around;
}

.news h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 60px;
}

.news-block {
  display: flex;
  padding: 40px 0 0 50px;
}

.news-blocks h3 {
  font-size: 25px;
  padding: 30px 0 0 50px;
  max-width: 387px;
  width: 100%;
}

.news-block__date {
  display: flex;
  align-items: center;
}

.news-block__time {
  display: flex;
  align-items: center;
  padding-left: 45px;
}

.news-block__date p {
  color: var(--secondary-color);
  padding-left: 10px;
}

.news-block__time p {
  color: var(--secondary-color);
  padding-left: 10px;
}

.comment {
  display: flex;
  align-items: center;
  border: 1px solid var(--grey-color);
  border-radius: 30px;
  max-width: 195px;
  width: 100%;
  margin: 40px 0 0 50px;
  background-color: var(--white-color);
}

.comment img {
  padding: 8px 0 8px 8px;
}

.comment b {
  padding-left: 15px;
}

.news-main__block {
  border: 1px solid var(--grey-color);
  max-height: 610px;
  height: 100%;
}

.talk {
  margin-top: 100px;
}

.talk h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 48px;
  max-width: 745px;
  width: 100%;
  margin: 0 auto;
}

.talk h2 {
  display: flex;
  justify-content: center;
  font-size: 48px;
}

.talk-link {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.talk-link a {
  font-size: 48px;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-weight: 700;
}

.contacts {
  background-image: url(../images/footer-bg.png);
  margin-top: 160px;
  height: 100%;
}

.company-logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 70px 0 60px 0;
}

.contacts-text h1 {
  font-size: 48px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

.contacts-text p {
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: var(--secondary-color);
  max-width: 485px;
  width: 100%;
  padding-bottom: 40px;
  line-height: 30px;
}

.contacts-social {
  display: flex;
  justify-content: center;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px 100px 100px;
}

.footer-nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 510px;
  width: 100%;
}

.footer-nav a {
  color: var(--secondary-color);
}

.footer-mail {
  display: flex;
  justify-content: center;
}

.footer-mail img {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

.footer-mail a {
  padding-left: 10px;
  color: var(--secondary-color);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 40px 0 40px 0;
}

.footer p {
  color: var(--secondary-color);
}
