@media (max-width: 1515px) {
  .background-img {
    width: 40%;
  }

  .news-main {
    flex-wrap: wrap;
  }

  .news-main__block:last-child {
    margin-top: 50px;
  }
}

@media (max-width: 1370px) {
}

@media (max-width: 1325px) {
  .payment-site {
    justify-content: center;
    flex-wrap: wrap;
  }

  .block-first p {
    display: flex;
    justify-content: center;
  }

  .block-first b {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .block-first img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .block-second p {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .block-second b {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .block-second img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1230px) {
  .background-img {
    display: none;
  }

  .header__our-progects {
    flex: 0 1 200px;
  }

  .computer {
    width: 40%;
  }
}

@media (max-width: 1156px) {
  .explore-services {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

@media (max-width: 1100px) {
  .advantages img {
    display: none;
  }

  .advantages-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .advantages-years {
    display: flex;
    justify-content: space-between;
  }

  .advantages-info h1 {
    display: flex;
    text-align: center;
  }

  .advantages-blocks {
    display: flex;
    justify-content: center;
  }

  .advantages-years__block {
    margin-right: 10px;
  }

  .advantages-years__block:last-child {
    margin-right: 0px;
  }
}

@media (max-width: 1024px) {
  .news-main__block {
    margin-bottom: 50px;
  }
  .news-main__block:last-child {
    margin-bottom: 50px;
    margin-top: 0;
  }
}

@media (max-width: 1000px) {
  .first-row {
    display: flex;
    flex-wrap: wrap;
  }

  .second-row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .row-block {
    padding-top: 50px;
  }

  .computer {
    display: none;
  }

  .any-project__title h1 {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .any-project__title h2 {
    display: flex;
    text-align: center;
  }

  .any-project__title p {
    display: flex;
    justify-content: center;
  }

  .any-project__button {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .education-experience {
    flex-wrap: wrap;
  }

  .experience {
    width: 100%;
  }

  .education {
    width: 100%;
    margin-bottom: 90px;
  }
}

@media (max-width: 850px) {
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-mail {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 45px;
  }

  .footer-nav ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .footer-nav li + li {
    padding-left: 30px;
  }
}

@media (max-width: 788px) {
  .call {
    padding: 15px 20px 15px 20px;
  }
}

@media (max-width: 745px) {
  .header-main__info {
    flex-wrap: wrap;
  }

  .header-info h1 {
    text-align: center;
    justify-content: center;
    width: auto;
  }

  .main-line {
    text-align: center;
    justify-content: center;
  }

  .header-info {
    text-align: center;
    justify-content: center;
  }

  .header-paragraph {
    text-align: center;
    justify-content: center;
    width: auto;
  }

  .working {
    text-align: center;
    justify-content: center;
    width: auto;
  }

  .header__our-progects {
    padding-top: 40px;
    flex: auto;
  }

  .hire-me img {
    padding: 25px 0 25px 0;
  }

  .our-line {
    text-align: center;
    justify-content: center;
  }

  .portfolio-landing {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .microsoft {
    text-align: center;
    justify-content: center;
  }

  .explore {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 720px) {
  .header__burger {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    z-index: 3;
    align-items: center;
    order: 3;
    background: #fff;
    border-radius: 10px;
  }

  .header__burger span {
    height: 3px;
    width: 100%;
    background-color: var(--black-color);
    transition: 0.3s ease-in transform, 0.3s ease-in opacity, 0.3s margin;
  }

  .header__burger.active span:nth-child(2) {
    transform: translate(100%, 0);
    opacity: 0;
  }

  .header__burger.active span:first-child {
    transform: rotate(45deg) translate(10px, 10px);
  }

  .header__burger.active span:last-child {
    transform: rotate(-45deg) translate(9px, -10px);
  }

  .nav-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in transform;
    transform: translate(100%, 0);
  }

  .nav-menu.active {
    transform: translate(0, 0);
  }

  ul.nav-menu li {
    margin: 0 0 15px 0;
  }

  ul.nav-menu a {
    color: #fff;
  }
}

@media (max-width: 660px) {
  .advantages-blocks {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-block__second {
    padding-top: 30px;
  }
}

@media (max-width: 560px) {
  .header-info h1 {
    font-size: 55px;
  }
}
